{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!--========== PROMO BLOCK ==========-->
        <div class="g-fullheight--md js__parallax-window" style="background: url({{main.background_image.url}}) 50% 0 no-repeat fixed;">
            <div class="g-container--md g-text-center--xs g-ver-center--md g-padding-y-150--xs g-padding-y-0--md">
                <div class="g-margin-b-60--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Welcome to KrishaShow</p>
                    <h1 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md g-color--white g-letter-spacing--1">{{main.title}}</h1>
                    <p class="g-font-size-18--xs g-font-size-26--md g-color--white-opacity g-margin-b-0--xs">{{main.desc}}</p>
                </div>
               
            </div>
        </div>
        <!--========== END PROMO BLOCK ==========-->

        <!--========== PAGE CONTENT ==========-->
        <!-- About -->
        <div class="container g-padding-y-80--xs g-padding-y-125--sm">
            <div class="row g-hor-centered-row--md g-row-col--5 g-margin-b-60--xs g-margin-b-100--md">
                <div class="col-sm-6 col-xs-12 g-hor-centered-row__col">
                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                        <img class="img-responsive" src="{{left.image.url}}" alt="Image">
                    </div>
                </div>
              
                <div class="col-sm-1"></div>
                <div class="col-sm-5 g-hor-centered-row__col">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">{{left.sub_title}}</p>
                    <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">{{left.title}}</h2>
                    <p class="g-font-size-18--sm">{{left.desc}}</p>
                </div>
            </div>

            <div class="row g-hor-centered-row--md g-row-col--5">
                <div class="col-sm-6 col-xs-12 col-sm-push-6 g-hor-centered-row__col">
                    <div class="wow fadeInRight" data-wow-duration=".3" data-wow-delay=".2s">
                        <img class="img-responsive" src="{{right.image.url}}" alt="Image">
                    </div>
                </div>
               
                <div class="col-sm-1"></div>
                <div class="col-sm-5 col-sm-pull-7 g-hor-centered-row__col g-text-left--xs g-text-right--md">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">{{right.sub_title}}</p>
                    <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">{{right.title}}</h2>
                    <p class="g-font-size-18--sm">{{right.desc}}</p>
                </div>
            </div>
        </div>
        <!-- End About -->

        <!-- Process -->
        <div class="g-bg-color--primary-ltr">
            <div class="container g-padding-y-80--xs g-padding-y-125--sm">
                <div class="g-text-center--xs g-margin-b-100--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">101MoonAve</p>
                    <h2 class="g-font-size-32--xs g-font-size-36--md g-color--white">KrishaShow</h2>
                </div>
                <ul class="list-inline row g-margin-b-100--xs">
                    <!-- Process -->

                    {% for abtstep in abtsteps %}
                    <li class="col-sm-3 col-xs-6 g-full-width--xs s-process-v1 g-margin-b-60--xs g-margin-b-0--md">
                        <div class="center-block g-text-center--xs">
                            <div class="g-margin-b-30--xs">
                                <span class="g-display-inline-block--xs g-width-100--xs g-height-100--xs g-font-size-38--xs g-color--primary g-bg-color--white g-box-shadow__dark-lightest-v4 g-padding-x-20--xs g-padding-y-20--xs g-radius--circle">{{ forloop.counter }}</span>
                            </div>
                            <div class="g-padding-x-20--xs">
                                <h3 class="g-font-size-18--xs g-color--white">{{abtstep.title}}</h3>
                                <p class="g-color--white-opacity">{{abtstep.text}}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
    
                    <!-- End Process -->
                </ul>

                <div class="g-text-center--xs">
                    <a href="{% url 'contact' %}" class="text-uppercase s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-70--xs">Bizimlə Əlaqə</a>
                </div>
            </div>
        </div>
        <!-- End Process -->


{% endblock content %}
      