{% extends 'base.html' %}
{% load static %}
        <!--========== PROMO BLOCK ==========-->

        {% block content %}
        <section class="s-video-v2__bg" data-vidbg-bg="mp4: include/media/mp4_video.mp4, webm: include/media/webm_video.webm, poster: include/media/fallback.jpg" data-vidbg-options="loop: true, muted: true, overlay: false">
            <div class="container g-position--overlay g-text-center--xs">
                <div class="g-padding-y-50--xs g-margin-t-100--xs g-margin-b-100--xs g-margin-b-250--md">
                    <h1 class="g-font-size-36--xs g-font-size-50--sm g-font-size-60--md g-color--white">Sponsorlarimiz</h1>
                </div>
            </div>
        </section>
        <!--========== END PROMO BLOCK ==========-->

        <!--========== PAGE CONTENT ==========-->
        <!-- Mockup -->
        <div class="container g-margin-t-o-150--xs">
            <div class="center-block s-mockup-v1">
                <img class="img-responsive" src="{% static 'img/mockups/devices-01.png' %}" alt="Mockup Image">
            </div>
        </div>
        <!-- End Mockup -->
  <div class="g-hor-divider__dashed--sky-light">
            <div class="container g-padding-y-80--xs g-padding-y-125--sm">
                <div class="g-text-center--xs g-margin-b-80--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Donation et Gənclərə dəstək ol</p>
                </div>
                <form action="" method="post" id="payment-form">
				{% csrf_token %}
					<div class="form-row">
					<input type="number" name="amount" id="">
						<label for="card-element">
						   Credit or debit card
						</label>
						<div id="card-element">
						<!-- A Stripe Element will be inserted here. -->
						</div>

						<!-- Used to display Element errors. -->
						<div id="card-errors" role="alert"></div>
					</div>

					<button>Submit Payment</button>
					</form>
            </div>
        </div>

        <!-- Testimonials -->

        <!-- Clients -->
        <div class="g-container--md g-padding-y-80--xs g-padding-y-100--sm">
            <!-- Swiper Clients -->
            <div class="s-swiper js__swiper-clients">
                <div class="swiper-wrapper">
                {% for logo in logos %}
                
                    <div class="swiper-slide">
                        <div class="wow fadeIn" data-wow-duration=".3" data-wow-delay=".5s">
                            <img class="s-clients-v1" src="{{logo.image.url}}" alt="Clients Logo">
                        </div>
                    </div>
                {% endfor %}

                </div>
            </div>
            <!-- End Swiper Clients -->
        </div>
        <!-- End Clients -->
        <!--========== END PAGE CONTENT ==========-->
        {% endblock content %}

