{% extends 'base.html' %}
{% load static %}
{% block content %}

        <div class="s-promo-block-v3 g-bg-position--center g-fullheight--sm" style="background: url({{image.image.url}});">
            <div class="container g-ver-center--sm g-padding-y-125--xs g-padding-y-0--sm">
                <div class="g-margin-t-30--xs g-margin-t-0--sm g-margin-b-30--xs g-margin-b-70--md">
                    <h1 class="g-font-size-35--xs g-font-size-45--sm g-font-size-50--lg g-color--white">{{event.event_name}}<br>KrishaShow</h1>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-push-4 g-margin-b-50--xs g-margin-b-0--md">
                        <div class="s-promo-block-v3__divider g-display-none--xs g-display-block--md"></div>
                        <div class="row">
                            <div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--md">
                                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".4s">
                                    <p class="g-font-size-18--xs g-color--white-opacity">{{event.desc}}</p>
                                </div>
                            </div>
                            <div class="col-sm-5 col-sm-offset-1">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                                            <span class="s-promo-block-v3__date g-font-size-100--xs g-font-size-135--lg g-font-weight--300 g-color--primary">{{event.event_day}}</span>
                                        </div>
                                    </div>
                                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                                        <span class="s-promo-block-v3__month g-font-size-18--xs g-font-size-22--lg g-font-weight--300 g-color--white-opacity-light">{{event.event_month}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-pull-8">
                    {% if event.preview_link %}
                    
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".5s">
                            <a class="js__popup__youtube" href="{{event.preview_link}}" title="Intro Video">
                                <i class="s-icon s-icon--lg s-icon--white-bg g-radius--circle ti-control-play"></i>
                                <span class="text-uppercase g-font-size-13--xs g-color--white g-padding-x-15--xs">Watch the Overview</span>
                            </a>
                        </div>
                    {% endif %}

                    </div>
                </div>
            </div>
        </div>
        <!--========== END PROMO BLOCK ==========-->

        <!--========== PAGE CONTENT ==========-->
    
        <!-- Upcoming Event -->
        <div class="s-promo-block-v2 js__parallax-window" style="background: url({% static 'img/1920x1080/events.jpg' %}) 50% 0 no-repeat fixed; background-size: cover;">
            <div class="container">
                <div class="row g-hor-centered-row--md">
                    <div class="col-md-7 g-hor-centered-row__col g-padding-y-80--xs">
                        <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md g-color--white"><a href="https://www.twitch.tv/krishashow" style="color:white;">KrishaShow</a></h2>
                        <a href="http://keenthemes.com/" class="text-uppercase s-btn s-btn--md s-btn--white-brd g-radius--50 g-padding-x-50--xs g-margin-b-20--xs">Join Our Community</a>
                 </div>
                </div>
            </div>
        </div>
        <!-- End Upcoming Event -->

        
        <!-- Speakers -->
        <div class="g-hor-divider__dashed--sky-light">
            <div class="container g-padding-y-80--xs g-padding-y-125--sm">
                <div class="g-text-center--xs g-margin-b-80--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Speakers</p>
                    <h2 class="g-font-size-32--xs g-font-size-36--sm">Who Can you Hear?</h2>
                </div>
                <div class="row g-overflow--hidden">
                {% for speaker  in speakers %}
                    <div class="col-xs-6 g-full-width--xs g-margin-b-30--xs g-margin-b-0--lg">
                        <!-- Speaker -->
                        <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-400--lg">
                            <img class="img-responsive g-width-100-percent--xs" src="{{speaker.image.url}}" alt="Image">
                            <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                                <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                                    <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">{{speaker.full_name}}</h4>
                                </div>
                                <p class="g-font-weight--700">{{speaker.title}}</p>
                                <p> {{speaker.desc}}</p>
                            </div>
                        </div>
                        <!-- End Speaker -->
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
        <!-- End Speakers -->


        <!--========== END PAGE CONTENT ==========-->

{% endblock content %}