
{% extends 'base.html' %}
{% load static %}

        
{% block content %}
        <!--========== PROMO BLOCK ==========-->
        <div class="g-bg-position--center js__parallax-window" style="background: url({% static 'img/krisha.jpg' %}) 50% 0 no-repeat fixed;">
            <div class="overlay"></div>
            <div class="g-container--md g-text-center--xs g-padding-y-150--xs">
                <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">101MoonAve</p>
                <h1 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md g-color--white g-letter-spacing--1" style="border: 3px solid white;display: inline;padding:1rem;">Team</h1>
            </div>
        </div>
        <!--========== END PROMO BLOCK ==========-->

        <!--========== PAGE CONTENT ==========-->
        <!-- Speakers -->
        <div class="container g-padding-y-80--xs g-padding-y-125--sm">
            <div class="row g-overflow--hidden">
                {% for member in members %}
                <div class="col-xs-6 g-full-width--xs g-margin-b-30--xs g-margin-b-0--lg">
                    <!-- Speaker -->
                
                    <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-400--lg">
                        <img class="img-responsive g-width-100-percent--xs" src="{{member.image.url}}" alt="Image">
                        <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                            <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                                <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">{{member.full_name}}</h4>
                            </div>
                            <p class="g-font-weight--700">{{member.title}}</p>
                            <p>{{member.desc}}</p>
                        </div>
                    </div>
                    <!-- End Speaker -->
                </div>
                    {% endfor %}
              
            </div>
        </div>
        <!-- End Speakers -->



{% endblock content %}