<!DOCTYPE html>
{% load static %}
<html lang="en" class="no-js">
    <!-- Begin Head -->
    <head>
        <!-- Basic -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Megakit - HTML5 Theme</title>
        <meta name="keywords" content="HTML5 Theme" />
        <meta name="description" content="Megakit - HTML5 Theme">
        <meta name="author" content="keenthemes.com">
<!-- Latest compiled and minified CSS -->

        <!-- Vendor Styles -->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'css/animate.css'%}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'vendor/themify/themify.css'%}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'vendor/scrollbar/scrollbar.min.css'%}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'vendor/magnific-popup/magnific-popup.css'%}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'vendor/swiper/swiper.min.css'%}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'vendor/cubeportfolio/css/cubeportfolio.min.css'%}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'css/global/global.css'%}" rel="stylesheet" type="text/css"/>
    
    </head>
    <!-- End Head -->

    <!-- Body -->
    <body>

        <!--========== HEADER ==========-->
        {% include 'header.html' %}
        <!--========== END HEADER ==========-->


        <!--==========  PAGE CONTENT ==========-->
        {% block content %}
        {% endblock content %}

        <!--========== END PAGE CONTENT ==========-->

        <!--========== FOOTER ==========-->
        {% include 'footer.html' %}
        <!--========== END FOOTER ==========-->

        <!-- Back To Top -->
        <a href="javascript:void(0);" class="s-back-to-top js__back-to-top"></a>

        <!--========== JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) ==========-->
        <!-- Vendor -->
        <script type="text/javascript" src="{% static 'vendor/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/jquery.migrate.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/jquery.smooth-scroll.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/jquery.back-to-top.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/scrollbar/jquery.scrollbar.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/swiper/swiper.jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/waypoint.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/counterup.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/jquery.parallax.min.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsXUGTFS09pLVdsYEE9YrO2y4IAncAO2U"></script>
        <script type="text/javascript" src="{% static 'vendor/jquery.wow.min.js' %}"></script>

        <!-- General Components and Settings{% static ' -->
        <script type="text/javascript" src="{% static 'js/global.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/components/header-sticky.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/components/scrollbar.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/components/magnific-popup.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/components/swiper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/components/counter.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/components/portfolio-3-col.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/components/parallax.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/components/google-map.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/components/wow.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
    
    var stripe = Stripe('pk_test_51HAz1IGmvxqR6k5a7Zct354V3FG14aS0CqVeZG0pA8glz2ENGWtQmAHGnUMYweDARKTbpzwCycm63rx1bBhiS5Pw00itieVj7O');
var elements = stripe.elements();
// Custom styling can be passed to options when creating an Element.
var style = {
  base: {
    // Add your base input styles here. For example:
    fontSize: '16px',
    color: '#32325d',
  },
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the customer that there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});

function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}
</script>
    </body>
    <!-- End Body -->
</html>
